@model Mantenimiento.Models.SeccionModel
@{
    ViewBag.Title = "Secciones Registradas";
}

<h2>Secciones Registradas</h2>

<center><button onclick="location.href='@Url.Action("Index", "Test")';" class="btn btn-success" style="margin-bottom:50px; text-align:center; margin:2.53em auto;" "><span class=" glyphicon glyphicon-plus">@Mantenimiento.idiomas.idiomas.boton_nuevo seccion</span></button></center>
<center><button onclick="location.href='@Url.Action("Index", "AdministracionCuestionario")';" class="btn btn-warning" style="margin-bottom:50px; text-align:center; margin:2.53em auto;" "><span class=" glyphicon glyphicon-arrow-left">Regresar</span></button></center>

<table class="table table-striped" style="max-width:960px; text-align:center; margin:2.53em auto;">
    <tbody>
        <tr class="warning">
            
            <td> Nombre del test</td>
            <td> Nombre de la seccion </td>
            <td colspan="3"> <center>Opciones</center> </td>
        </tr>
        @foreach (var m in Model.listarSeccion())
        {
            <tr>
                <td> @m.test.nombre </td>
                <td> @m.nombre </td>
                <td> <center><button onclick="agregarPreguntaModal(@m.id)" class="btn btn-link"><span class="glyphicon glyphicon-pencil">Agregar una pregunta a esta seccion</span></button> </center></td>
                <td> <center><button onclick="modificarModal(@m.id)" class=" btn btn-info"><span class="glyphicon glyphicon-pencil">@Mantenimiento.idiomas.idiomas.boton_opcion_modificar</span></button> </center></td>
                <td><center><button onclick="location.href='@Url.Action("eliminarSeccion", "Seccion", new { id = m.id })';" class="btn btn-danger"><span class="glyphicon glyphicon-remove">@Mantenimiento.idiomas.idiomas.boton_eliminar</span></button> </center></td>
            </tr>
        }
    </tbody>
</table>
<script>

    function modificarModal(ID) {
        $.ajax({
            type: 'GET',
            traditional: true,
            url: '@Url.Action("modificarSeccion", "Seccion")',
            data: { id: ID },
            success: function (returnPayload) {
                $(".modal-body").html(returnPayload);
                $("#myModal").modal();
                $("#myModal").modal({ show: true });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console && console.log("request failed");
                alert("error!##");
            }
        });

    }


    function agregarPreguntaModal(ID)
    {
        $.ajax({
            type: 'GET',
            traditional: true,
            url: '@Url.Action("Nuevo", "Pregunta")',
            data: { id: ID },
            success: function (returnPayload) {
                $(".modal-body").html(returnPayload);
                $("#myModal").modal();
                $("#myModal").modal({ show: true });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console && console.log("request failed");
                alert("error!##");
            }
        });
    }

</script>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close">&times;</button>
                <h4 class="modal-title">@Mantenimiento.idiomas.idiomas.aux_modal</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" onclick="location.reload();" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>  