@model Mantenimiento.Models.cuestionarioModel
@{
    ViewBag.Title = "IniciarTest";
}


<h2>IniciarTest</h2>

@using (@Html.BeginForm("Nuevo", "Seccion")) { 

foreach(var m in Model.listaPreguntas)
{
    Model.Auxiliarname = 0;
    <p> @m.pregunta.pregunta1 </p>
    foreach (var r in @m.resultados)
    {
        if (Model.Auxiliarname == 0)
        {
            <label> @m.pregunta.respuesta </label>  <input type="radio" id=@m.pregunta.respuesta name="respuesta_@m.pregunta.id" value=@m.pregunta.respuesta required/>
        }
        
            <label> @r.descripcion </label>  <input type="radio" id=@r.descripcion name="respuesta_@m.pregunta.id" value=@r.descripcion required/>
        Model.Auxiliarname++; 
    }
}

    <input type="submit" value="Enviar" />

}