@model Mantenimiento.Models.RolModel
@{
    ViewBag.Title = "Roles registrados";
    Mantenimiento.Models.RolModel rol = ViewBag.rol;
}

<h2>Roles registrados</h2>
<center><button onclick="location.href='@Url.Action("Index", "rol")';" class="btn btn-success" style="margin-bottom:50px; text-align:center; margin:2.53em auto;""><span class="glyphicon glyphicon-plus">Crear nuevo rol</span></button></center>

<table class ="table table-striped" style="max-width:960px; text-align:center; margin:2.53em auto;">
    <tbody>
        <tr class="warning">
            <td> Id  </td>
            <td> Nombre</td>
            <td> Descripcion</td>
            <td colspan="2"> <center>Opciones</center> </td>
        </tr>
        @foreach (var m in rol.listarRoles())
        {
            <tr>

                <td> @m.id </td>
                <td> @m.nombre </td>
                <td> @m.descripcion </td>
                <td> <center><button class=" btn btn-info"><span class="glyphicon glyphicon-pencil">Modificar</span></button> </center></td>
                <td><center><button onclick="location.href='@Url.Action("Eliminar", "rol", new { id = m.id })';" class="btn btn-danger"><span class="glyphicon glyphicon-remove">Eliminar</span></button> </center></td>

            </tr>
        }
    </tbody>
    </table>
