@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>
<div class="container-fluid" style="text-align:center;">
    <div class="row" style="padding:10px,20px !important;">


        <div class="col-md-4">
            <!-- Botón pensado para los mensajes con alertas informativas -->
            <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Index","Test")'"><span class="glyphicon glyphicon-align-justify">@Mantenimiento.idiomas.idiomas.titulo_test</span></button>

        </div>

        <div class="col-md-4">

            <!-- Indica una acción exitosa o positiva -->
            <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Index","Seccion")'"><span class="glyphicon glyphicon-align-justify">@Mantenimiento.idiomas.idiomas.titulo_secciones</span></button>

        </div>

        <div class="col-md-4">


            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Pregunta")'"><span class=" glyphicon glyphicon-align-justify">@Mantenimiento.idiomas.idiomas.titulo_preguntas</span></button>


        </div>
    </div>

</div>
