@model Mantenimiento.Models.estadoModel
@{
    ViewBag.Title = "modificar Estado";
}

<h2>modificarEstado</h2>
@using (@Html.BeginForm("modificarEstado", "estado"))
{
    @Html.LabelFor(model => model.nombre)
    @Html.ValidationMessageFor(model => model.nombre)
    @Html.TextBoxFor(model => model.nombre)
    @Html.LabelFor(model => model.descripcion)
    @Html.TextBoxFor(model => model.descripcion)
    @Html.ValidationMessageFor(model => model.descripcion)
    <input type="submit" value="Modificar" />

}
