@model Mantenimiento.Models.estadoModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Nuevo rol</h2>
@using (@Html.BeginForm("Nuevo", "estado"))
{
    @Html.LabelFor(model => model.nombre);
    @Html.ValidationMessageFor(model =>model.nombre)
    @Html.TextBoxFor(model => model.nombre, new { @class = "form-control", required = "required", placeholder = "Nombre del estado" });

    @Html.LabelFor(model => model.descripcion)
    @Html.ValidationMessageFor(model => model.descripcion )
    @Html.TextBoxFor(model => model.descripcion, new { @class = "form-control", required = "required", placeholder = "Descripcion" })
    <input type="submit" value="@Mantenimiento.idiomas.idiomas.boton_guardar" class="btn btn-success btn-block margin-bottom-lg" />
}
