@model Mantenimiento.Models.personasModel
@{
    ViewBag.Title = "modificar Persona";
}

<h2>modificarPersona</h2>



@using (@Html.BeginForm("modificarPersona", "personas"))
{

    @Html.LabelFor(model => model.Nombres)
    @Html.TextBoxFor(model => model.Nombres)

    @Html.LabelFor(model => model.Apellidos)
    @Html.TextBoxFor(model => model.Apellidos)

    @Html.LabelFor(model => model.Direccion)
    @Html.TextBoxFor(model => model.Direccion)

    @Html.DropDownListFor(model => model.idCiudad, Model.ciudades(), "-- Seleccione ciudad de origen --")

    <input type="submit" value="Registrar" />
}
