@model Mantenimiento.Models.personasModel
@{
    Layout = null;
}
@using (@Html.BeginForm("Nuevo", "personas"))
{

    @Html.LabelFor(model => model.Nombres);
    @Html.TextBoxFor(model => model.Nombres, new { @class = "form-control", required = "required" })
    
    @Html.LabelFor(model => model.Apellidos);
    @Html.TextBoxFor(model => model.Apellidos, new { @class = "form-control", required = "required" })
    
    @Html.LabelFor(model => model.Direccion);
    @Html.TextBoxFor(model => model.Direccion, new { @class = "form-control", required = "required" })
    
    @Html.DropDownListFor(model => model.idCiudad, Model.ciudades() ,new { @class = "form-control",id="ciudad" })

    <div class="container-fluid">

       

    </div>

    <input type="submit" value="@Mantenimiento.idiomas.idiomas.boton_guardar" class="btn btn-success btn-block margin-bottom-lg" />
        }
        <script>


            $(document).ready(function () {

                $('#ciudad').on('change', function () {
                    var ID = $(this).val();
                    console.log(ID);
                    $.ajax({
                        type: 'POST',
                        traditional: true,
                        url: '@Url.Action("obtenerEstadoPorIdCiudad", "ciudad")',
                        data: { id: ID },
                        success: function (returnPayload) {
                            $(".container-fluid").html("<span class='label label-info'> Estado :" + returnPayload + "</span>");
                            console.log(returnPayload);
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console && console.log("request failed");
                            alert("error!##");
                        }
                    });
                });

            });


        </script>
