@model Mantenimiento.Models.PreguntaModel
@{
    ViewBag.Title = "Nuevo";
    Layout = null;
}




@using (@Html.BeginForm("Nuevo", "Pregunta"))
{
    if (@Model.id_seccion == null) 
    {
        @Html.LabelFor(model => model.id_seccion)
        @Html.DropDownListFor(model => model.id_seccion, Model.listaSeccion(), new { @class = "form-control", required = "required" })
    }
    @Html.HiddenFor(model=>model.id_seccion);
    @Html.LabelFor(model => model.pregunta1)
    @Html.TextBoxFor(model => model.pregunta1, new { @class = "form-control", required = "required" })
    

    @Html.LabelFor(model => model.respuesta)
    @Html.TextBoxFor(model => model.respuesta, new { @class = "form-control", required = "required" })

    <h1><span class="label label-warning">Reactivo 1 </span></h1>   @Html.TextBoxFor(model => model.reactivo_a, new { @class = "form-control", required = "required" })
    <h1> <span class="label label-warning">Reactivo 2</span></h1>   @Html.TextBoxFor(model => model.reactivo_b, new { @class = "form-control", required = "required" })
    <h1> <span class="label label-warning">Reactivo 3</span></h1>   @Html.TextBoxFor(model => model.reactivo_c, new { @class = "form-control", required = "required" })


    <input type="submit" value="@Mantenimiento.idiomas.idiomas.boton_guardar" class="btn btn-success btn-block margin-bottom-lg" />
}

